<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> ENFP </b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li> Consultant </li>
<li>Psychologist</li>
 <li> Entrepreneur</li> 
<li> Actor</li>
 <li> Teacher </li>
<li> Counsellor</li>
<li> Politician / Diplomat </li>
<li> Writer / Journalist </li>
<li> Television Reporter </li>
<li> Computer Programmer, Systems Analyst, or Computer Specialist</li> 
<li> Scientist </li>
<li> Engineer</li>
</ul>
</p> </body </html>
