<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> ENTP </b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li> Lawyers </li>
<li> Psychologists </li> 
<li> Entrepreneurs </li>
<li> Photographers </li>
<li> Consultants </li>
<li> Engineers </li>
<li> Scientists </li>
<li> Actors </li>
 <li>Sales Representatives</li> 
<li> Marketing Personnel </li>
<li> Computer Programmer, Systems Analyst, or Computer Specialist </li>
</ul>
</p> </body </html>
