<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> ESFJ </b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li>Home Economics </li> 
<li> Nursing </li>
<li> Teaching </li>
<li> Administrators</li> 
<li> Child Care </li>
<li> Family Practice Physician</li> 
<li> Clergy or other religious work </li>
<li> Office Managers </li>
<li> Counselors / Social Work </li> 
<li> Bookkeeping / Accounting </li>
<li> Administrative Assistants</li>
</ul>
</p> </body </html>
