<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> INFJ</b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li> Teachers </li>
<li>Medical Doctors / Dentists  </li>
 <li>Alternative Health Care Practitioners, i.e. Chiropractor, Reflexologist</li> 
<li> Psychologists</li>
 <li> Psychiatrists  </li>
<li>Counselors and Social Workers </li>
<li>Clergy / Religious Workers</li>
<li>Musicians and Artists</li>
<li>Photographers </li>
<li>Child Care / Early Childhood Developments </li>
</ul>
</p> </body </html>
 
 



 







 
 
