<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> INTJ</b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li>Scientists</li>
<li>Engineers  </li>
 <li>Professors and Teachers</li> 
<li> Medical Doctors / Dentists</li>
 <li>Corporate Strategists and Organization Builders  </li>
<li>Business Administrators / Managers </li>
<li>Military Leaders </li>
<li>Lawyers / Attorneys</li>
<li>Judges  </li>
<li>Computer Programmers, Systems Analysts and Computer Specialists </li>
</ul>
</p> </body </html>
 
 



 




 




 







 
 
