<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> INTP</b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li>Scientists – especially Physics, Chemistry</li>
<li>Photographers </li>
 <li>Strategic Planners </li> 
<li>Mathematicians </li>
<li>University Professors</li>
 <li>Computer Programmers, Systems Analysts, Computer Animation and Computer Specialists</li>
<li>Technical Writers </li>
<li>Engineers</li>
<li>Lawyers / Attorneys</li>
<li>Judges </li>
<li>Forensic Research </li>
<li>Forestry and Park Rangers</li>
</ul>
</p> </body </html>






 






 








 
 

