<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> ISFJ</b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li>Interior Decorators</li>
<li>Designers</li>
 <li>Nurses</li> 
<li>Administrators and Managers </li>
<li>Administrative Assistants</li>
 <li>Child Care / Early Childhood Development</li>
<li>Social Work / Counselors </li>
<li>Paralegals </li>
<li>Clergy / Religious Workers </li>
<li>Office Managers </li>
<li>Shopkeepers</li>
<li>Bookeepers</li>
<li>Home Economics</li>
</ul>
</p> </body </html>
 
  

 










 




 




 







 
 
