<!DOCTYPE HTML>
<html>
<body>
<p>
Your personality type is :<b> ISTJ</b>
<br>
Based on your personality type career suggestions are as follows :
<br> <br>
<ul>
<li>Business Executives, Administrators and Managers</li>
<li>Accountants and Financial Officers</li>
 <li>Police and Detectives </li> 
<li>Judges</li>
<li>Lawyers</li>
 <li>Medical Doctors / Dentists</li>
<li>
Computer Programmers, Systems Analysts, and Computer Specialists </li>
<li>Military Leaders </li>
</ul>
</p> </body </html>




 
 

